@import 'tailwindcss';

@theme {
  --color-primary: #fff;

  --color-wallpaper: var(--color-zinc-950);
  --color-section: var(--color-zinc-900);
  --color-hovered: var(--color-zinc-600);
  --color-disabled: var(--color-zinc-700);
  --color-secondary: var(--color-zinc-500);

  --color-accent: var(--color-pink-500);
}

.container {
  @apply max-w-[700px] mx-auto xl:px-0 px-4;
}
